
/* CSS Structure

1. All the containers and sub containers
2. Specific elements
3. Navigation bar section

*/

/* ----------------------------------------- */
/* -----------------Containers-------------------- */

/* This is the full screen*/
body {
    background-color: #7499AF;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* This is the full game container */
.game-container {
    background-color: #ffffff;
    border-radius: 10px;
    display: grid;
    padding: 20px;
    height: 800px;
    width: 1000px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    gap: 20px;
}

/* ----------------------------------------- */
/* ---------------Title & Navbar---------------------- */
.title-container {
    margin: 0;
    justify-content: left;
}

#site-title {
    font-size: 96px;
    margin: 0;
    padding: 0;
}

.nav-container {
    background-color: #ffffff; 
    font-size:larger;
    padding: 5px;
    display: flex;
    place-items: center;
}

.navbarleft {
    display: flex;
    flex: 1;
    gap: 15%;
}

.navbarright {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 15%;
}

.navbarel {
    padding: 0;
    margin: 0;
}


/* -----------------Default button class-------------------- */
.button {
    background-color: #37E5F5;
    color: #000000;
    display:block;
    padding: 20px 30px;
    margin: 20px;
    border-radius: 5px;
    font-size: 16px;
    border: none;

    cursor: pointer;
}

/* -----------------action container-------------------- */

.action-container {
    background-color: #CDD9E7;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1fr;
}

.item {
    background-color: #ffffff;
    margin: 10px;
    border-radius: 10px;
    display: grid;
}

.item-2 {
    grid-column: span 2;
}

#quick-play-button {
    position: absolute;
    place-self: center;
    align-self: last baseline;
}

.gamebut {
    position: absolute;
    place-self: center;
    align-self: last baseline;
}

.stan-text {
    font-size: 32px;
    justify-self: center;
}