
/* Level 1 */

body {
    background-color: #7499AF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    background-color: #ffffff;
    display: grid;
    padding: 20px;
    border: 5px,solid #000000;
    height: 800px;
    width: 800px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 20px;
}

/* Level 2 */

.item {
    background-color: #ffffff;
    border: 2px solid #000000;
    padding: 20px;
    display: grid;
}

.item2 {
    background-color: #ccc;
    border: 2px solid #000000;
    padding: 20px;
    display: grid;
}

/* Level 3A */

.layer3 {
    background-color: #ffffff; 
    border: 1px solid #000000;
    padding: 10px;
    display: grid;
    place-items: center;
}

.nested-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 4fr;
    gap: 10px;

}

.navbar {
    grid-column: span 3;
}

.sitename {
    grid-column: span 2;
    font-size:xx-large; 
    display: flex;
    align-items: left;
}

/* Level 3B */

.nested-container2 {
    background-color: #ccc;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr 1fr 2fr;
    gap: 10px;
}

.gamewindow {
    grid-column: span 2;
}
.wordinput {
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Elements */

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 5px;

}

p {
    font-size: 18px;
    margin: 10px 0;
}

.button {
    background-color: #37E5F5;
    display: inline-block;
    padding: 10px 20px;
    color: #000000;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#word {
    font-size: 60px; 
}

#timer {
    font-size: 40px;  
}



