
/* Level 1 */

body {
    background-color: #7499AF;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.container {
    background-color: #ffffff;
    border-radius: 10px;
    display: grid;
    padding: 20px;
    border: 5px solid #000000;
    height: 800px;
    width: 800px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    gap: 20px;
}

/* Level 2 */

.subcontainer{
    background-color: #ccc;
    border: 2px solid #000000;
    padding: 20px;
    display: grid;
}

.item{
    background-color: #ffffff; 
}

/* Level 3A */

.layer3 {
    background-color: #ffffff; 
    border: 1px solid #000000;
    font-size:larger;
    padding: 5px;
    display: grid;
    place-items: center;
}

.nested-container {
    display: grid;
    gap: 10px;
}

/* ----------------------------------------- */
/* ------------------NAVBAR----------------- */

.navbar {
    display: flex;
}

.navbarel {
    padding: 0;
    margin: 0;
    margin-right: 3%;
}


/* ----------------------------------------- */
/* ----------------------------------------- */

/* Level 3B */

.nested-container2 {
    background-color: #ccc;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    gap: 10px;
}

.gamewindow{
    grid-column: span 3; 
}

.wordinput {
    grid-column: span 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.verdict {
    grid-column: span 2;
    display: grid;
    grid-column: 1fr;
    grid-row: 1fr 1fr 1fr;
}

.scorebox {
    grid-column: span 2;
    display: grid;
    grid-column: 1fr;
    grid-row: 1fr 1fr 1fr;
}

.sec2 {
    background-color: #ccc;
    grid-row: span 2;
    border: 1px solid black;
    width: 95%;
    height: 95%;
}

/* Elements */

input {
    padding: 20px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 5px;
    width:50%;
}

.button {
    background-color: #37E5F5;
    display: inline-block;
    padding: 10px 20px;
    color: #000000;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.boxel {
    margin: 0;
    border: 0;
    padding: 5px;
    font-size: xx-large; 
}

#start-game {
    position: absolute;
    z-index: 2;
    padding: 20px 70px;
    font-size: larger;
    font-weight: bolder;
}

#check-translation {
    padding: 20px;
    border: 1px solid #000000;
}

#word {
    position: absolute;
    z-index: 1;
    font-size: xx-large;
}

#timer {
    font-size: xx-large;
    font-weight: bolder;
    margin: 0;
    border: 0;
    padding: 0;
}

.sitename {
    font-size: large; 
    display: flex;
    align-items: center;
    margin: 0; /* Reset margin to ensure left alignment */
}

#rote-learn-heading {
    margin: 0;
}

.result {
    padding: 0;
}


/* ----------------------------------------- */
/* -----------------Popup-------------------- */
#popup-container {
    background: white;
    display: none;
    border: 5px solid #000000;
    height: 800px;
    width: 800px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

#popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

/* ----------------------------------------- */
/* ----------------------------------------- */
