/* ----------------------------------------------------------------- */

/* This is the full screen*/
body {
    background-color: #7499AF;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* This is the full game container */
.game-container {
    background-color: #183351;
    border-radius: 10px;
    display: grid;
    margin:0;
    border:0;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 90vh;
    max-height: 760px;
    width: 1080px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: .25fr .75fr 1.875fr 1.25fr .375fr ;
    row-gap: 10px;
    
}
/* ----------------------------------------------------------------- */
/* These are the 7 main containers inside the game container */
.subcontainer {
    background-color: #426C94;
}

.navbar-container {
    background-color: #C0D1E5;
    grid-column: span 6;
    display: flex; 
    justify-content: space-between;
}

.title-container {
    grid-column: span 6;
    display: flex;
    justify-content: space-between;
}

.time-container {
    grid-column: span 2;
    border-right: 3px solid #183351;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.gameplay-container {
    grid-column: span 4;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.correction-container {
    grid-column: span 3;
    border-right: 3px solid #183351;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.scorebox-container {
    grid-column: span 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.level-container {
    background-color: #C0D1E5;
    grid-column: span 6;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding-left: 3%;
    padding-right: 3%;
}
/* ----------------------------------------------------------------- */
/* These are smaller containers that contain the elements */

.time-container-splitter {
    border:1px solid #183351;
}

.gameplay-container-splitter {
    border:1px solid #183351;
}

.correction-container-splitter {
    border:1px solid #183351;
}

.scorebox-container-splitter {
    border:1px solid #183351;
}

.navbarleft {
    display: flex;
    gap: 15px;
    padding-left: 2%;
}

.navbarright {
    display: flex;
    gap: 15px;
    padding-right: 2%;
}

.item {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

/*box with timer */
#item2 {
    font-size: 6em;
}

/*box with input */
#item6 {
    grid-column: span 3;
}

/*box with check button */
#item7 {
    grid-column: span 3;
}

/* ----------------------------------------------------------------- */
/* These are the elements */
.button {  
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #ffffff;
    box-shadow: inset 0 0 0 2px #ffffff;
    background-color: transparent;
    height: 48px;
    :hover{
        color: #fff;
        background-color: #ffffff;
    }
}

.gameplay-container-splitter.item input {
    background-color: #C0D1E5;
    text-align: center;
    border: none;
    border-radius: 500px;
    width: 75%;
    padding: 12px;
    box-sizing: border-box;
}

.navel {
    margin: 0;
    padding: 0;
    align-self: center;
    cursor: pointer;
}

#RoteLearn {
    color: #ffffff;
    font-weight: normal;
    padding: 0;
    margin: 0;
    font-size: 5em;
    padding-left: 2%;
}

#GrammarTrainer {
    color: #ffffff;
    font-weight: normal;
    align-self: flex-end;
    padding: 0;
    margin: 0;
    font-size: 3em;
    padding-bottom: 1px;
    padding-right: 2%;
}

.node {
    width: 30px;
    height: 30px;
    background-color: #426C94;
    border: none;
    cursor: pointer;
    color: #ffffff;
    border-radius: 100%;
    justify-self: center;
}

.level-container .node.active {
    background-color: #ffffff;
    color: #426C94;
    border: 3px solid #426C94;
}

#leveltitle {
    color: #426C94;
    font-weight: bold;
    font-size: larger;
    justify-self: baseline;

}






/* ----------------------------------------------------------------- */
/* Media Query for 780px width and lower */
@media (max-width: 780px) {
    #RoteLearn {
        font-size: 3em;
    }
    
    #GrammarTrainer {
        font-size: 2em;
    }

    .title-container {
        grid-column: span 6;
        display: flex;
        flex-direction: column;
    }

    /*box with timer */
    #item2 {
    font-size: 4em;
}
}

/* ----------------------------------------------------------------- */
/* Media Query for 600px width and lower */

@media (max-width: 600px) {
    #RoteLearn {
        font-size: 3em;
    }
    
    #GrammarTrainer {
        font-size: 2em;
    }

    .game-container {
        padding: 5px;
        height: 94vh;
        min-height: 460px;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 1fr 1fr 3fr 1.5fr;
        gap: 2px;
    }

    .level-container {
        display: none;
    }

    .correction-container {
        display: none;
    }

    .subcontainer {
        grid-column: span 1;
    }

    .time-container {
        border-right: 0px;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 2fr;
    }

}
  
/* ----------------------------------------------------------------- */
/* Media Query for 600px width and lower */
@media (max-width: 515px) {
    .button {  
        min-width: 100px;
}
}

/* ----------------------------------------------------------------- */
/* Media Query for 280px width and lower -- END DISPLAY */
@media (max-width: 280px) {
    .game-container {
        display: none;
    }
}